<p>Prénom : {{first_name}}<br></p>
<p>Nom : {{last_name}}<br></p>
<p>Nom d'entreprise : {{ent_name}}<br></p>
<p>Email : {{myemail}}<br></p>
<p>Type : {{is_client}}<br></p>
<p>Address : {{address}}<br></p>
<p>Pays : {{city}}<br></p>
<p>Phone : {{phone}}<br></p>
<p>Date de naissance : {{birth_date}}<br></p>
<p>Date de création : {{fourth_date}}<br></p>
<p>Description : {{about_me}}<br></p>
<p>Compétence : {{competences}}<br></p>
<p>Certifier : {{certifier}}<br></p>
<button mat-raised-button color="primary" (click)="collect()">Refresh</button>